body {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.header {
	margin: 0 70px 0 70px;
	height: 310px;
}

.logo {
	display: block;
	float: left;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 400px;
	height: 310px;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.bold {
	font-weight: bold;
}

.right {
	float: right;
	margin-top: 260px;
	margin-right: 20px;
}

.right p {
	color: rgb(230,230,230);
	font-size: 10px;
	font-family: 'Tahoma Regular', sans-serif;
}

.content{
	margin: 0 70px;
}

.left_col {
	width: 33.33%;
	float: left;

}

.right_col {
	width: 33.33%;
	float: right;
}

.center_col {
	width: 33.33%;
}

.block {
	display: block;
	margin: -5px auto;
}

.img {
	display: block;
	margin: 0 auto;
	height: 240px;
	width: 400px;
}

.block a {
	display: block;
	color: rgb(230,230,230);
	text-align: center;
	font-size: 16px;
	margin: 5px 0 50px 0;
	font-family: 'Tahoma Regular', sans-serif;
	text-decoration: none;
}

.footer {
	display: block;
	margin: 180px 0 30px 0;
	text-align: center;
	color: rgb(230,230,230);
	font-size: 10px;
	font-family: 'Tahoma Regular', sans-serif;
}







