<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/template.js"></script>
	<script src='js/script.js' ></script>
</head>
<body>
	
	 <script type="text/html" id="test">
	
	 	<div class="page">
	 		<div class="block1">
	 			<h2><%= <%- ФИО %> %></h2>
	 			<img class="image" src=<%= img %> alt="photo"/>
	 			<p class="left"><%= university %></p>
	 		</div>

	 		<div class="block1">
	 			<%= frontend %>
	 			<ul>
	 				<li><%= reason1 %></li>
	 				<li><%= reason2 %></li>
	 				<li><%= reason3 %></li>
	 			</ul>
	 		</div>

	 		<div class="block1">
	 			<p><%=  contact %></p>
	 			<p><%=  number %></p>
	 		</div>

	 		<div class="block1">
	 			<p><%=  profile %></p>
	 			<p><a href="<%= link %>"><%=  mainLink %></a></p>
	 		</div>

	 		<div class="block2">
	 			<p><%=  feedback %></p>
	 			<p><%=  myFeedback %></p>
	 		</div>
	 		
		</div>
	
	</script>
</body>
</html>
