 /* GLOBAL */
 .wrapper {
 	position: relative;
 	margin: 0 auto;
 	min-width: 320px;
 }

 @font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 100%;
}

 /* HEADER */

 header {
 	padding-bottom: 160px;
 	background: url(../img/bg.jpg) top center no-repeat;
 	background-size: cover;
 	border-bottom: 1px solid #35273c;
 }

 .logo {
 	margin: 0 auto;
 	display: block;
 	width: 150px;
 	padding-top: 70px;
 }

 .logo_image {
 	display: block;
 }

.menu {
 	overflow: hidden;
 	display: none;
 	margin: 0 auto;
 }

 .menu--mobile {
 	width: 250px;
 	border: 1px solid #051116;
 	border-radius: 8px;
	background: rgba(54, 41, 62, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
 }

 .menu-wrapper {
 	position: relative;
 	margin-top: 22px;
 }

 .menu_item {
 	float: left;
 }

.menu--mobile .menu_item {
	float: none;
	text-align: center;
	border-top: 1px solid #523f5a;
	border-bottom: 1px solid #36283e;
}

.menu_item:first-child {
	border-top: none;
}

.menu_item:last-child {
	border-bottom: none;
}

.menu--mobile .menu_item:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

 .menu_link, .current_page_link {
 	padding: 0 6px;
 	color: #fff;
 	font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
 	font-size: 24px;
 	line-height: 39px;
 	text-decoration: none;
 	text-transform: uppercase;
}

.menu_link:hover {
	border-bottom: 2px solid #edbfff;
}

.menu_item--current .menu_link {
	border-bottom: 2px solid #edbfff;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	
}

 .menu-wrapper:hover .menu {
 	display: block;
 }

 .menu-wrapper:hover .current_page_link {
 	opacity: 0;
 }

 .current_page {
 	padding-top: 1px;
 	text-align: center;
 }

 .current_page_link {
 	border-bottom: 2px solid #edbfff;
 }

 /* SLIDER */

 .slider {
 	position: relative;
 	margin-top: 115px;
 	padding: 25px;
 	font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
 	text-align: center;
 }

 .slider_item {
 	margin: 0 auto;
 	padding: 0 30px;
 }

 .slider_text1 {
 	color: #fefefe;
 	font-size: 36px;
 }

 .slider_text2 {
 	color: #edbfff;
 	font-size: 18px;
 	text-transform: uppercase;
 }

 .slider_arrow {
 	position: absolute;
 	top: 50%;
 	height: 34px;
 	width: 25px;
 	margin-top: -21px;
 	background: url(../img/arrows.png) 0 0 no-repeat;
 }

 .slider_arrow--left {
 	left: 0;
 }

 .slider_arrow--right {
 	right: 0;
 	background-position: -25px 0;
 }

 .slider_buttons {
 	position: absolute;
 	bottom: -90px;
 	width: 100%;
 	margin-left: -25px;
 	text-align: center;
 }

 .slider_buttons li {
 	border-radius: 100%;
 	display: inline-block;
 	margin: 0 1px;
 	height: 16px;
 	width: 16px;
 	background-color: rgba(0, 0, 0, 0.3);
 	cursor: pointer;
 }

 .slider_buttons li.current:before {
 	content: '';
 	display: block;
 	height: 10px;
 	width: 10px;
 	margin: 3px;
 	background: rgb(253, 253, 253);
 	border-radius: 100%;
 	background: linear-gradient(to botom, rgba(253, 253, 253, 1) 0%, rgba(222, 222, 222, 1) 100%);
 }

 /* SLIDER CONTENT*/

 .slider--content {
 	margin-top: 0;
 	padding: 50px 20px 0;
 	text-align: inherit;
 }

 .slider--content .slider_item {
 	position: relative;
 	margin: 0 0 0 24px;
 	padding: 24px 30px 30px 36px;
 	background: #fff;
 }

 .slider--content .slider_buttons {
 	position: relative;
 	bottom: auto;
 	margin: 23px 0 0 12px;
 }

 .slider--content .slider_buttons li {
 	background: #fff;
 	border-bottom: 1px solid #e8e8e8;
 }

 .slider--content .slider_buttons li:before {
	background: linear-gradient(to bottom, rgba(138, 138, 138, 1) 0%, rgba(70, 70, 70, 1) 100%);
 }

 .slider--content .slider_image {
 	position: absolute;
 	top: 18px;
    left: -25px;
 }

 .slider_title {
 	color: #454545;
 	font-size: 24px;
 	line-height: 24px;
 	font-weight: normal;
 	text-transform: uppercase;
 	font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}

.slider_title span {
	display: block;
	color: #edbfff;
}

.slider--content .slider_text {
	margin-top: 5px;
 	font-family: "Open sans", Tahoma, Arial, sans-serif;
 	color: #454545;
 }

 .slider_phone {
	display: none;
 }

 .slider_text3 {
 	display: none;
 }


/* ABOUT SECTION */

 .about_section {
 	padding: 65px 0 40px;
 	border-bottom: 1px solid #12191f;
 	background: linear-gradient(to bottom, #724f81 0%,#35273c 100%);
}

.about {
	position: relative;
	margin: 0 14px 22px;
	padding-left: 60px;
	color: #fff;
	font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.about_title {
	text-transform: uppercase;
	font-size: 24px;
}

.about_text {
	font-size: 16px;
	font-weight: normal;
	font-family: "Open sans", Tahoma, Arial, sans-serif;
}

.about_link {
	float: right;
	color: #fff;
	padding-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.about_link:hover {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.about:before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	height: 25px;
	width: 33px;
	background: url(../img/icons.png) no-repeat;
}

.about--settings:before {
	width: 30px;
}

.about--talks:before {
	width: 29px;
	background-position: -37px 0;
}

.about--music:before {
	width: 33px;
	background-position: -74px 0;
}

/* DESCRIPTION */

.description {
	padding: 70px 0 90px 0;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
}

.updates {
	margin: 50px 40px 0 40px;
}

.updates_title {
	color: #454545;
	font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0;
}

.updates_item {
	margin: 0 0 16px 0;
}

.updates_image {
	margin: 0 17px 0 0;
	float: left;
}

.updates_subtitle, .updates_info {
	font-family: "Open sans", Tahoma, Arial, sans-serif;
	font-size: 16px;
}

.updates_subtitle {
	font-weight: bold;
}

.updates_link {
	float: right;
	font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
	color: #454545;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

/* SPONSORS */

.sponsors {
	margin: 20px 0 0 0;
	border-top: 1px solid #fefefe;
	text-align: center;
}

.sponsors_menu {
	display: inline-block;
}

.sponsor_item {
	display: block;
	margin: 0 0 60px 0;
	width: 50%;
	text-align: center;
	float: left;
}


/* PREFOOTER */

.prefooter {
	padding: 100px 0 90px;
	background-color: #ececec;
	display: none;
}

.category {
	margin: 0 0 54px 0;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

.category_maintitle {
	font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	color: #454545;
}

.category_maintitle span {
	color: #b9b9b9;
}

.category_subtitle {
	color: #b9b9b9;
	font-size: 16px;
	font-family: 'Georgia', Tahoma, Arial, sans-serif;
	padding: 0 0 15px 0;
}

.category_title {
	margin: 0 0 10px 0;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #454545;
	font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
}

.category_text {
	font-size: 16px;
	color: #787878;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}


/* FOOTER */

footer {
	height: 250px;
	background: url(../img/bg_footer.jpg) top center no-repeat;
	background-size: cover;
	text-align: center;
}

.menu--footer {
	display: none;
}

.copyrights {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	padding-top: 40px;
	color: #fff;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
}

.copyrights_link {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}





@media (min-width: 480px) and (max-width: 767px) {
	header {
 		padding-bottom: 160px;
 		background: url(../img/bg-black.jpg) top center no-repeat;
 		background-size: cover;
 		border-bottom: 1px solid #35273c;
 	}
	
	.wrapper {
		max-width: 480px;
	}

	.slider_phone {
		display: block;
    	float: right;
    	margin: -90px 15px 0 35px;
	}

	.slider_phone img {
		width: 225px;
    	height: 358px;
	}

	.slider_text3 {
 	display: none;
 	}

	.slider {
		text-align: left;
		padding: 0px 20px 20px 20px;
	}
 	
	.sponsor_item {
	display: block;
	margin: 0 0 60px 0;
	width: 33%;
	text-align: center;
	float: left;
	}

	.sponsors .wrapper {
		width: 300px;
	}

	.prefooter {
		display: block;
    	padding: 59px 0 20px;
    	background-color: #ececec;
	}

	.category {
		margin: 0 0 54px 0;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	}

	.menu--footer {
		display: inline-block;
	}
	
	footer {
		height: 170px;
    	background: url(../img/bg_footer.jpg) top center no-repeat;
    	background-size: cover;
    	text-align: center;
}

}




@media (min-width: 768px) and (max-width: 959px) {
	
	header {
 		padding-bottom: 160px;
 		background: url(../img/bg-black.jpg) top center no-repeat;
 		background-size: cover;
 		border-bottom: 1px solid #35273c;
 	}

	.wrapper {
		max-width: 768px;
	}

	.logo {
    	margin: 0 33px;
    	display: block;
    	width: 150px;
    	padding-top: 70px;
	}

 	.menu--mobile {
 		display: block;
 		background: rgba(0, 0, 0, 0);
 		border: none;
 		width: 100%;
 	}

 	.menu--mobile .menu_item {
 		border: none;
 	}

 	.menu--mobile .menu_item:hover {
 		background: rgba(0, 0, 0, 0);
 	}

 	.current_page .current_page_link {
 		display: none;
 	}

 	.menu_item--current .menu_link {
 		border: none;
 		text-shadow: none;
 	}

 	.menu_item--current:hover .menu_link {
 		border-bottom: 2px solid #edbfff;
    }

    .menu .menu_item {
    	float: left;
    	text-align: left;
    	padding: 0 0 0 25px;
    }

	.slider_phone {
		display: block;
    	float: right;
    	margin: -50px 65px 0 35px;
	}

	.slider_phone img {
		width: 225px;
    	height: 358px;
	}

	.slider {
		text-align: left;
		padding: 0px 20px 20px 20px;
	}

	.slider_text3 {
		display: block;
		color: #fff;
		font-weight: normal;
		font-family: 'Open Sans', Tahoma, Arial, sans-serif;
		font-size: 18px;
		margin: 15px 0 0 0;
	}


	.about {
    position: relative;
    margin: 0 14px 22px;
    padding-left: 60px;
    color: #fff;
    font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 21%;
    float: left;
	}

	.slider--content {
    margin-top: 0;
    padding: 50px 20px 0;
    text-align: inherit;
    float: left;
    width: 46%;
	}

	.updates {
    margin: 50px 60px 0 0px;;
    float: right;
	}

	.updates_item {
    margin: 0 0 16px 0;
    width: 113%;
	}

	.sponsor_item {
	display: block;
	margin: 0 0 60px 0;
	width: 120px;
	text-align: center;
	float: left;
	}

	.prefooter {
		display: block;
    	padding: 59px 0 20px;
    	background-color: #ececec;
}

	.category {
		margin: 0 0 54px 0;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
		width: 33%;
		float: left;
}

	.menu--footer {
    display: inline-block;
    float: left;
    margin: 26px 0px 0 25px;
}

	.copyrights {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    padding-top: 64px;
    color: #fff;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

	footer {
    	height: 140px;
    	background: url(../img/bg_footer.jpg) top center no-repeat;
    	background-size: cover;
    	text-align: center;
}
}





@media (min-width: 960px) {
	
	.wrapper {
		max-width: 960px;
	}

	header {
 		padding-bottom: 160px;
 		background: url(../img/bg-black.jpg) top center no-repeat;
 		background-size: cover;
 		border-bottom: 1px solid #35273c;
 	}

 	.logo {
    	margin: 0 33px;
    	display: block;
    	width: 150px;
    	padding-top: 70px;
	}

 	.menu--mobile {
 		display: block;
 		background: rgba(0, 0, 0, 0);
 		border: none;
 		width: 100%;
 		margin: -80px 0 0 185px;
 	}

 	.menu--mobile .menu_item {
 		border: none;
 	}

 	.menu--mobile .menu_item:hover {
 		background: rgba(0, 0, 0, 0);
 	}

 	.current_page .current_page_link {
 		display: none;
 	}

 	.menu_item--current .menu_link {
 		border: none;
 		text-shadow: none;
 	}

 	.menu_item--current:hover .menu_link {
 		border-bottom: 2px solid #edbfff;
    }

    .menu .menu_item {
    	float: left;
    	padding: 25px 0px 0 40px;
    }

 	.slider_phone {
		display: block;
    	float: right;
    	margin: -83px 65px 0 35px;
	}

	.slider_phone img {
		width: 250px;
    	height: 408px;
	}

	.slider {
		text-align: left;
		padding: 0px 20px 20px 20px;
	}

	.slider_text3 {
		display: block;
		color: #fff;
		font-weight: normal;
		font-family: 'Open Sans', Tahoma, Arial, sans-serif;
		font-size: 18px;
		margin: 15px 0 0 0;
	}

	.about {
    position: relative;
    margin: 0 14px 22px;
    padding-left: 60px;
    color: #fff;
    font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 21%;
    float: left;
	}

	.slider--content {
    margin-top: 0;
    padding: 50px 20px 0;
    text-align: inherit;
    float: left;
    width: 46%;
	}

	.updates {
    margin: 50px 60px 0 0px;
    float: right;
	}

	.updates_item {
    margin: 0 0 16px 0;
    width: 113%;
	}

	.sponsor_item {
	display: block;
	margin: 0 0 60px 0;
	width: 140px;
	text-align: center;
	float: left;
	}

	.prefooter {
		display: block;
    	padding: 59px 0 45px;
    	background-color: #ececec;
}

	.category {
		margin: 0 0 54px 0;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
		width: 27%;
		float: left;
		padding: 0 30px;
}

	.menu--footer {
    display: inline-block;
    float: left;
    margin: 32px;
}

	.menu_item {
    float: left;
    padding: 0 15px;
}

	footer {
    	height: 135px;
    	background: url(../img/bg_footer.jpg) top center no-repeat;
    	background-size: cover;
    	text-align: center;
	}

	.copyrights {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    padding-top: 70px;
    color: #fff;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

}



