@import url("../fonts/stylesheet.css");
@import url("../js/jcarousel/transitions/jcarousel.transitions.css");

body {
	font-family: 'League Gothic', Arial, Tahoma, sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

.wrapper-slider {
	margin: 0 auto;
	width: 943px;

}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

header {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5.2%;
	border-bottom: 1px solid black;
	overflow: hidden;
}

.logo {
	display: block;
	float: left;
	height: 39px;
	width: 150px;
	background-image: url(../img/logo.png);
	margin: 0 0 0 2%;
}

.navigation li{
		float: left;
		margin-right: 39px;
	}
	.navigation li:last-child{
		margin-right: 0;
	}
	.navigation a{
		font-family: 'league_gothicregular', sans-serif;
		font-size: 24px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		color: #fff;
		text-decoration: none;
		padding: 0 5px 6px 7px;
	}
	.navigation a:hover{
		border-bottom: 2px solid #edbfff;
	}
.black-menu {
	background-color: rgba(0, 0, 0, 0.2);
	margin: 15.3% auto 8.8% auto;
}

.phone {
	overflow: hidden;
	float: right;
	margin: 1% 11% 0px 0px;
}

.title {
	font-size: 4em;
	color: white;
	padding: 7.6% 0 0 2%;
	text-shadow: 2px 2px 2px rgba(76, 76, 76, 1);
}

.title2 {
	font-size: 2em;
	color: rgb(237, 191, 255);
	text-transform: uppercase;
	text-shadow: 2px 2px 0px rgba(76, 76, 76, 1);
	padding: 0 0 0 2%;
}

.main-text {
	font-size: 1.1em;
	color: white;
	padding: 1% 48% 0 2%;
	font-family: 'OpenSans Light', sans-serif;
	line-height: 1.3em;
}

.mid-header {
	background: linear-gradient(to bottom, #724f81 0%,#35273c 100%);
	height: 340px;
	border-bottom: 1px solid black;
}

figure {
	float: left;
	width: 26%;
	height: 284px;
	margin: 6% 0px 0 6%;
}

.title--about-com {
	position: relative;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
}

.title--about-com:before {
	content: '';
	background-image: url(../img/icons.png);
	position: absolute;
	height: 24px;
    width: 34px;
	margin: 14px 0px 0 -50px;
}

.title--about-com--icon1:before {
	background-position: 65px 0;
}

.title--about-com--icon2:before {
	background-position: 32px 0;
}

.menu--cols {
	padding: 1% 1% 0 0;
}

.title--read-more  {
	display: block;
    text-transform: uppercase;
    text-indent: 65%;
    font-size: 1.3em;
    text-decoration: none;
}

.title--read-more:hover {
	text-shadow: 0px 0px 7px rgba(247, 247, 247, 1);
}

.content {
	background-color: rgb(249,249,249);
	height: 486px;
	border-bottom: 1px solid rgb(230, 230, 230);
}

.left-col, .right-col {
	float: left;
}

.left-col {
	background-image: url(../img/form.png);
	width: 47%;
	height: 292px;
	margin: 10% auto;
}

.start {
	font-size: 2em;
	color: rgb(69, 69, 69);
	text-transform: uppercase;
	margin: 7% 0 0 13%;
}

.start:before {
	content: url(../img/face.png);
	position: absolute;
	margin: -10px 0px 0 -62px;
}

.start-text {
	font-size: 1.2em;
	color: rgb(69, 69, 69);
	font-family: 'OpenSans Light';
	margin: 1% 12% 0 12%;
}

.left-col:after {
	content: url(../img/dots.png);
	position: absolute;
	margin: 97px 0 0 185px;
}

.pnk {
	color: rgb(237, 191, 255);
}

.right-col {
	margin: 9.7% 0 0 3%;
	width: 48%;
}

.start--2:before {
	content: none;
}

.text1 {
	font-weight: bold;
	font-size: 1.2em;
	font-family: 'OpenSans Light';
	margin: 4% 0 0 18%;
}

.text1--podtext {
	font-weight: normal;
	margin: 1% 0 0 18%;
    font-size: 1.1em;
}

.title--blk {
	display: block;
	font-size: 1.1em;
	margin: 4% 0 0 78%;
	color: rgb(69, 69, 69);
	text-transform: uppercase;
	text-decoration: none;
}

.round:before {
	content: '';
	background-image: url(../img/round_icons.png);
	background-position: 0 0;
	position: absolute;
	height: 47px;
    width: 47px;
	margin: 0 0 0 -60px;
}

.round--icon5:before {
	background-position: 0 98px;
}

.round--icon6:before {
	background-position: 0 47px;
}

.sponsors {
	background-color: rgb(249,249,249);
	border-top: 1px solid white;
	height: 119px;
	text-align: center;
}

.sponsors-li {
	float: left;
	width: 16%;
}

.sponsor {
	background-image: url(../img/sponsors.png);
	display: block;
	margin: 17% 16%;
	height: 65px;
	text-align: center;
}

.sponsor2 {
	background-position: -134px 0;
}

.sponsor3 {
	background-position: -263px 0;
}

.sponsor4 {
	background-position: -415px 0;
}

.sponsor5 {
	background-position: -550px 0;
}

.sponsor6 {
	background-position: -710px 0;
}

section {
	background-color: rgb(236, 236, 236);
	height: 395px;
	border-top: 1px solid rgb(216, 216, 216);
	border-bottom: 1px solid white;
}

.inner-col--sect {
	padding: 9% 0 0 0;
	float: left;
	width: 33%;
}

.about-com--tname {
	font-size: 3.3em;
	color: rgb(69, 69, 69);
	text-transform: uppercase;
}

.menu--col {
	color: rgb(120,120,120);
	padding: 0 1% 0 0;
}

.menu--col1 {
	padding: 0 0 0 10%;
}

.start--3 {
	margin: 0 0 0 10%;
}


span {
	color: rgb(185, 185, 185);
	text-transform: uppercase;
}

.about-com--blk {
	color: rgb(69, 69, 69);
}

.copyright {
	color: rgb(197, 197, 197);
	font-family: 'Georgia';
	font-style: italic;
	font-size: 1em;
	padding: 2% 0 0 0;
}

footer {
	background-image: url('../img/bg_footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 114px;
}

.header-menu--bottom-li {
	float: left;
	margin: 6% 4% 0 2%;
}

.header-menu--bottom-a {
	font-size: 1.3em;

}

.design {
	float: right;
	color: white;
	font-family: 'OpenSans Light';
	font-size: 0.8em;
	margin: 6% 4% 0 0;
	text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

strong {
	font-weight: bold;
}



@media(min-width: 768px) and (max-width: 959px) {
	.wrapper {
	margin: 0 auto;
	max-width: 768px;
	}

	.logo {
	display: block;
	float: left;
	height: 39px;
	width: 150px;
	background-image: url(../img/logo.png);
	margin: 0 0 3% 6%;
	}

	.navigation{
		float: left;
	}

	.navigation li{
		float: left;
		margin-right: 39px;
	}
	.navigation li:last-child{
		margin-right: 0;
	}
	.navigation a{
		font-family: 'league_gothicregular', sans-serif;
		font-size: 24px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		color: #fff;
		text-decoration: none;
		padding: 0 5px 6px 7px;
	}
	.navigation a:hover{
		border-bottom: 2px solid #edbfff;
	}

	.phone {
	float: right;
	margin: 1% 2% 0px 0px;
	}

	.jcarousel-control-prev {
    left: -32px;
}

	.title2 {
	font-size: 1.9em;
	color: rgb(237, 191, 255);
	text-transform: uppercase;
	text-shadow: 2px 2px 0px rgba(76, 76, 76, 1);
	padding: 0 0 0 2%;
	}

	.title--blk {
	display: block;
	font-size: 1.1em;
	margin: 4% 0 0 70%;
	color: rgb(69, 69, 69);
	text-transform: uppercase;
	text-decoration: none;
	}

	.title--read-more {
    display: block;
    text-transform: uppercase;
    text-indent: 66%;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0;
}

	.left-col:after {
	content: url(../img/dots.png);
	position: absolute;
	margin: 8% 0 0 -17%;
	}

	.jcarousel-control-next {
    right: -19px;
	}

	.sponsor1 {
		background-position: -7px 0;
	}

	.sponsor2 {
		background-position: -143px 0;
	}

	.sponsor3 {
		background-position: -275px 0;
	}

	.sponsor4 {
		background-position: -415px 0;
	}

	.sponsor5 {
		background-position: -536px 0;
    	margin: 20px 0%;
	}

	.sponsor6 {
		background-position: -713px 0;
	}

	.header-menu--bottom-li {
	clear: none;
	float: left;
	margin: 6% 4% 0 2%;
	}

	.design {
	float: right;
	color: white;
	font-family: 'OpenSans Light';
	font-size: 0.8em;
	margin: 9.5% 6% 0 0;
	text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

}

@media(min-width: 480px) and (max-width: 767px) {
	.wrapper {
	margin: 0 auto;
	max-width: 480px;
	}

	header{
		margin: 0 auto;
		overflow: visible;

	}

	.logo {
	display: block;
	float: none;
	height: 39px;
	width: 150px;
	background-image: url(../img/logo.png);
	margin: 1% auto;
	}

	.navigation--header{
		width: 245px;
		float: none;
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
		position: absolute;
		top: 95px;

	}
	.navigation--header li{
		float: none;
		margin: 0;

	}
	.navigation--header a {
		display: block;
		width: 245px;
		line-height: 40px;
		padding: 0;
		border-bottom: 2px solid rgba(0,0,0,0);
	}
	.navigation--header .navigation__dropdown{
		visibility: hidden;
		margin-left: -1px;

	}
	.navigation--header .navigation__home a {
		width: 35px;
		border-bottom: 2px solid #edbfff;
		margin: 0 auto;
		padding: 0 6px;

	}
	.navigation--header:hover .navigation__dropdown {
		visibility: visible;

	}
	.navigation--header:hover {
		background-color: rgba(54,41,62,0.9);
		border: 1px solid #0c171c;
		border-radius: 15px;

	}
	.navigation--header:hover li{
		border-top: 1px solid #503d58;
		border-bottom: 1px solid #36283e;

	}
	.navigation--header:hover a:hover{
		background-color: rgba(44,35,50,0.3);
	}

	.black-menu {
	background-color: rgba(0, 0, 0, 0.2);
	margin: 15.3% auto 8.8% auto;
	height: 250px;
}

	.jcarousel-wrapper {
		width: 105%;
	}

	.jcarousel-control-prev {
    left: 1px;
}
	
	.title {
	font-size: 3em;
	color: white;
	padding: 17.6% 0 0 6%;
	text-shadow: 2px 2px 2px rgba(76, 76, 76, 1);
}

	.title2 {
		font-size: 1em;
		color: rgb(237, 191, 255);
		text-transform: uppercase;
		text-shadow: 2px 2px 0px rgba(76, 76, 76, 1);
		padding: 0 0 0 7%;
	}

	.main-text {
		display: none;
	}

	.phone {
    overflow: hidden;
    float: right;
    margin: 5% 15% 0px 0px;
}

	.phone img {
		height: 246px;
	}

	.jcarousel-control-prev, .jcarousel-control-next {
    	margin: -18% 0 0 0;
	}

	.jcarousel-control-next {
    right: 43px;
}

	.mid-header {
	background: linear-gradient(to bottom, #724f81 0%,#35273c 100%);
	height: 540px;
	border-bottom: 1px solid black;
	}

	.menu--cols {
		display: block;
		font-size: 1em;
		padding: 0 30px 0 0;
	}

	.menu--col {
		padding: 0;
	}

	figure {
	width: 94%;
	height: 165px;
	margin: -2% 0px 0 8%;
	}

	.title--about-com {
		position: relative;
		color: white;
		font-size: 1.4em;
		text-transform: uppercase;
	}

	.title--about-com:before {
    content: '';
    background-image: url(../img/icons.png);
    position: absolute;
    height: 24px;
    width: 34px;
    margin: -12px 0px 0 -50px;
	}

	.title--read-more  {
	display: block;
    text-transform: uppercase;
    text-indent: 70%;
    font-size: 1.3em;
    text-decoration: none;
    margin: -10% 0 0 0;
}

	.left-col {
	background-image: url(../img/form.png);
	width: 100%;
	height: 292px;
	margin: 10% auto;
	}

	.right-col {
	margin: -3.3% 0 0 3%;
	width: 100%;
	}

	.round:before {
	content: '';
	background-image: url(../img/round_icons.png);
	background-position: 0 0;
	position: absolute;
	height: 47px;
    width: 47px;
	margin: 0 0 0 -70px;
	}

	.content {
	background-color: rgb(249,249,249);
	height: 785px;
	border-bottom: 1px solid rgb(230, 230, 230);
	}

	.title--blk {
	display: block;
	font-size: 1.1em;
	margin: -9% 0 0 70%;
	color: rgb(69, 69, 69);
	text-transform: uppercase;
	text-decoration: none;
	}

	.text1 {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'OpenSans Light';
    margin: 4% 0 0 18%;
    padding: 0 40px 0 0;
}

	.sponsors {
	background-color: rgb(249,249,249);
	border-top: 1px solid white;
	height: 235px;
	text-align: center;
	}

	.sponsors-li {
	float: left;
	width: 33%;
	}

	.sponsor6 {
		background-position: -708px 0;
	}

	section {
    background-color: rgb(236, 236, 236);
    height: 620px;
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid white;
	}

	.inner-col--sect {
    padding: 9% 0 0 3%;
    float: left;
    width: 93%;
	}

	.menu--col {
		display: block;
	}

	.start--3 {
    margin: 0;
	}

	.design {
    float: none;
    position: absolute;
    color: white;
    font-family: 'OpenSans Light';
    font-size: 0.8em;
    margin: 15% 35% 0 35%;
    text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
	}

	.left-col:after {
    content: url(../img/dots.png);
    position: absolute;
    margin: 50px 0 0 185px;
	}


}

@media(min-width: 320px) and (max-width: 479px) {
	.wrapper {
	margin: 0 auto;
	max-width: 320px;
	}

	.logo {
	display: block;
	float: none;
	height: 39px;
	width: 150px;
	background-image: url(../img/logo.png);
	margin: 1% auto;
	}

	.black-menu {
		background-color: rgba(0, 0, 0, 0);;
	}

	.jcarousel-control-prev {
    left: -7px;
	}

	.jcarousel-control-next {
    background-position: 34px 0;
    right: 7px;
	}

	.jcarousel-control-prev, .jcarousel-control-next {
    margin: -56% 0 0 0;
	}

	.phone {
		display: none;
	}

	.title {
    	font-size: 2em;
    	text-align: center;
    	padding: 10% 3% 0 0;
	}

	.title2 {
		font-size: 1.1em;
		text-align: center;
		padding: 0 4% 25% 0;
	}

	.navigation {
		display: none;
	}

	.main-text {
		display: none;
	}

	.mid-header {
    background: linear-gradient(to bottom, #724f81 0%,#35273c 100%);
    height: 706px;
    border-bottom: 1px solid black;
	}

	figure {
    float: left;
    width: 90%;
    height: 206px;
    margin: 6% 0px 0 6%;
	}

	.title {
    font-size: 1.5em;
    text-align: center;
    padding: 10% 3% 0 0;
	}

	.title--about-com:before {
    content: '';
    position: absolute;
    height: 24px;
    width: 34px;
    margin: 2px 0px 0 -50px;
	}

	.title--read-more {
    display: block;
    text-transform: uppercase;
    text-indent: 50%;
    font-size: 1.3em;
    text-decoration: none;
	}

	.menu--cols {
		display: block;
	}

	.content {
    background-color: rgb(249,249,249);
    height: 690px;
    border-bottom: 1px solid rgb(230, 230, 230);
	}

	.left-col {
	float: none;
    background-image: url(../img/form.png);
    width: 83%;
    height: 292px;
    margin: 10% auto;
	}

	.pnk {
    color: rgb(237, 191, 255);
    clear: left;
    display: block;
	}

	.left-col:after {
    content: url(../img/dots.png);
    position: absolute;
    margin: 69px 0 0 93px;
	}

	.start-text {
    font-size: 1em;
    color: rgb(69, 69, 69);
    font-family: 'OpenSans Light';
    margin: 1% 5% 0 12%;
	}

	.right-col {
    margin: 9.7% 0 0 3%;
    width: 94%;
	}

	.start {
    font-size: 2em;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    margin: 7% 0 0 16%;
	}

	.text1 {
		font-size: 1em;
	}


	.title--blk {
    display: block;
    font-size: 1em;
    margin: 4% 0 0 45%;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    text-decoration: none;
	}

	.sponsors {
    background-color: rgb(249,249,249);
    border-top: 1px solid white;
    height: 358px;
    text-align: center;
	}

	.sponsors-li {
    float: left;
    width: 50%;
	}

	.sponsor6 {
    background-position: -708px 0;
	}

	section {
		display: none;
	}

	.header-menu {
		display: none;
	}

	.design {
		margin: 17% 29% 0 29%;
	}



	

