table {
	display: block;
	margin: 5% 36%;
}

table tr td{
	border: 3px solid black;
	width: 50px;
	height: 50px;
}

.red {
	background-color: red;
}

.black {
	background-color: rgb(50,50,50);
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}